

body {
    background-image: url("images/death-star.png");
    background-size: cover;
    background-color: rgb(51, 51, 51);
}
h1 h2 h3 p {
    font-size: 1.5rem;
}
.wrapper {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    opacity: 0.6;
    color: black;
    width: 50%;
    height: 60%;
    margin: 200px auto 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}